<#
    // ----------------------------------------------------------------------------------------------
    // Copyright (c) Mårten Rånge.
    // ----------------------------------------------------------------------------------------------
    // This source code is subject to terms and conditions of the Microsoft Public License. A 
    // copy of the license can be found in the License.html file at the root of this distribution. 
    // If you cannot locate the  Microsoft Public License, please send an email to 
    // dlr@microsoft.com. By using this source code in any fashion, you are agreeing to be bound 
    //  by the terms of the Microsoft Public License.
    // ----------------------------------------------------------------------------------------------
    // You must not remove this notice, or any other, from this software.
    // ----------------------------------------------------------------------------------------------
#>
<#
    Namespace = "FileInclude";
    RootPath    = @"..\..\..";
    Includes = new []
        {
            Include (@"HRON\HRONObjectSerializer.cs"            ),
            Include (@"HRON\HRONDynamicObjectSerializer.cs"     ),
            Include (@"Common\ConsoleLog.cs"                    ),
            Include (@"Concurrency\TaskSchedulers.cs"           ),
            Include (@"Extensions\BasicExtensions.cs"           ),
            Include (@"Extensions\SqlExtensions.cs"             ),
            Include (@"Testing\TestRunner.cs"                   ),
            Include (@"Text\LineToObjectExtensions.cs"          ),
            Include (@"SQL\Schema.cs"                           ),
        };
#>

<#@ include file="$(SolutionDir)\T4\IncludeLocalFile.ttinclude" #>