<#
    Namespace   = "Source.WPF.Debug"        ;
    Model       = new []
    {
        new ClassDefinition ("DebugVisualTreeControl")
        {
            C ("VisualTreeNode"     , "VisualTree"  , flags:PropertyFlags.IsReadOnly),

        },
    };    

#>

<#@ include     file        ="..\..\T4\DependencyProperties.ttinclude"     #>                                   
